/* 二手书单页 */

/* 二手书 div 样式 */
.left_select_panel
{
    /* height: 400px; */
}

.mid_main_panel
{

}

.mid_container
{
    background: rgba(250, 250, 250, 1);
    border: solid;
    border-radius: 5px;
    border-color: rgba(204, 221, 0, 0.5);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.book_info_container
{
    background: rgba(255, 0, 0, 1);
    /* float: right; */
}

.book_info_tab
{
    height: 400px;
}